.App {
  text-align: center;
  background-color: #211c1c;
  height: 100vh;
}

.ul{
  list-style-type: none;
}
.li{
  color: whitesmoke;
}

.home{
  height: 80vh;
}

.Navbar, .CustomFooter, .footdiv, .btnfooter, #select {
  
  background-color: #211c1c;
}

.CustomFooter {
  display: flex;
  flex-flow: row;
  justify-content: space-around ;
}
.footdiv{
  display: flex;
  justify-content: center;
}

.Navbar.Link, .btnfooter, span {
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.CustomFooter {
  height: 20vh;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
